{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Мимо ристалищ, капищ,<br />
      мимо храмов и баров,<br />
      мимо шикарных кладбищ,<br />
      мимо больших базаров,<br />
      мира и горя мимо,<br />
      мимо Мекки и Рима,<br />
      синим солнцем палимы,<br />
      идут по земле пилигримы.<br />
      Увечны они, горбаты,<br />
      голодны, полуодеты,<br />
      глаза их полны заката,<br />
      сердца их полны рассвета.<br />
      За ними поют пустыни,<br />
      вспыхивают зарницы,<br />
      звезды горят над ними,<br />
      и хрипло кричат им птицы:<br />
      что мир останется прежним,<br />
      да, останется прежним,<br />
      ослепительно снежным,<br />
      и сомнительно нежным,<br />
      мир останется лживым,<br />
      мир останется вечным,<br />
      может быть, постижимым,<br />
      но все-таки бесконечным.<br />
      И, значит, не будет толка<br />
      от веры в себя да в Бога.<br />
      …И, значит, остались только<br />
      иллюзия и дорога.<br />
      И быть над землей закатам,<br />
      и быть над землей рассветам.<br />
      Удобрить ее солдатам.<br />
      Одобрить ее поэтам.
    </p>
  </article>
</div>
{% endblock %} 

